{% extends 'base.html.twig' %}

{% block body_id 'sac' %}

{% block titpag 'Lista de Atividades' %}

{% block content %}
    <div class="content">
    <table id="atividades" class="display table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data Início</th>
                <th>Data Fim</th>
                <th>Status</th>
                <th>Situacao</th>
            </tr>
        </thead>
        <tbody>
            {% for atividade in pagination %}            
            <tr>
                <td>{{ atividade.id }}</td>
                <td>{{ atividade.title }}</td>
                <td>{{ atividade.description }}</td>
                <td>{{ atividade.start_date }}</td>
                <td>{{ atividade.end_date }}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}


    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    /*$(function(){
        $('#atividades').DataTable({
            lengthMenu: [5, 10, 15, 25, 100],
        });
    })*/
    </script>
{% endblock %}
